/* Exercise 1 */

.HW1{
    display: flex;
    width: 400px;
    align-items: center;
    height: 170px;
    background-color: #d98db7;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}

.button1 {
    width: 300px;
    height: 80px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    background-color: #d98db7;
    box-shadow: 3px 3px 3px white inset, 3px 3px 3px black;
    text-shadow: 3px 3px 3px black;
}

.button1:active {
    text-shadow: 1px 1px 6px black;
    box-shadow: 3px 3px 3px 1px black inset, -2px -2px 6px 1px white inset;
    cursor:pointer;
}


/* Exercise 2 */
.HW2 {
    width: 350px;
    transition-delay: 1s;
    transition-property: border-radius, box-shadow;
    padding: 25px;
    margin: 40px;
    border-radius: 15px;
    margin-left: 20px;
} 

.catImg {
    width: 100%;
    object-fit: contain;
    transition-property: border-radius;
    transition-delay: 1s;
}

.catTXT {
    color: rgb(109, 31, 101);
    margin-top: 5px;
}

.HW2:hover {
    cursor: pointer;
    box-shadow: 0 0 7px purple, 0 0 15px purple;
}

.HW2:hover .catImg {
    border-radius: 20px 25px 0 0;
}
